@using Skill_CodeFirstEnitity.Models.siniflar
@model List<YETENEKLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>YETENEK</th>
        <th>DEĞER</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var p in Model)
    {
    <tr>
        <td>@p.ID</td>
        <td>@p.ACIKLAMA</td>
        <td>@p.DEGER</td>
        <td><a href="/Admin/YetenekSil/@p.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/YetenekGetir/@p.ID" class="btn btn-success">Güncelle</a></td>
    </tr>
    }
</table>

